In [4]:
from sqlalchemy import create_engine, MetaData, Table, select
import pandas as pd
db_string = "postgres://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)
print(db.table_names())

[u'staff', u'category', u'film_category', u'country', u'actor', u'language', u'store', u'rental', u'city', u'address', u'film_actor', u'payment', u'users', u'film', u'customer', u'inventory']

In [7]:
name = 'category'
metadata = MetaData()
table = Table(name, metadata , autoload=True, autoload_with=db)
sel = select([table])
res = db.execute(sel).fetchall()
df = pd.DataFrame(res)
df[1].size

16

In [9]:
res = db.execute(sel).fetchmany(size=2)
print(res)

[(1, u'Action', datetime.datetime(2006, 2, 15, 9, 46, 27)), (2, u'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27))]

In [13]:
name = 'actor'
table = Table(name, metadata , autoload=True, autoload_with=db)
sel = select([table])
sel1 = sel.where(table.columns.first_name == ('Olympia'))
res = db.execute(sel1).fetchall()
for r in res:
    print(r.actor_id, r.first_name, r.last_name)
sel2 = sel.where(table.columns.first_name == ('Julia'))
res = db.execute(sel2).fetchall()
for r in res:
    print(r.actor_id, r.first_name, r.last_name)
sel3 = sel.where(table.columns.first_name == ('Ellen'))
res = db.execute(sel3).fetchall()
for r in res:
    print(r.actor_id, r.first_name, r.last_name)

(171, u'Olympia', u'Pfeiffer')
(27, u'Julia', u'Mcqueen')
(47, u'Julia', u'Barrymore')
(186, u'Julia', u'Zellweger')
(199, u'Julia', u'Fawcett')
(93, u'Ellen', u'Presley')